{#
/**
 * @file
 * Theme for hello world content.
 */
#}

<div class="hello-world-content">
  {% if geo %}
    <h1 class="geo-text">Hello, {{ geo }}</h1>

     {% if image_path %}
      <img src="{{ image_path }}" alt="{{ geo }}" class="geo-image">
    {% endif %}
  {% endif %}
</div>
